@import url("https://fonts.googleapis.com/css2?family=Asap:wght@500&family=Roboto&display=swap");
/* font-family: 'Asap', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: rgb(212, 217, 217);
}

/* header styling start */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: max-content;
  width: 100%;
  gap: 5px;
}

button {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  border: none;
  background-color: rgb(73, 202, 53);
  color: white;
  margin-top: 20px;
}

button:hover {
  scale: 1.1;
  background-color: rgb(15, 243, 15);
  cursor: pointer;
}

/* header Styling end */

/* card for all of the navigation start */
.links {
  background-color: rgb(255, 255, 255);
  height: max-content;
  width: 700px;
  height: 400px;
  display: none;
  flex-direction: row;
  font-family: "Asap", sans-serif;
}
/* card for all navigation end */

/* left side of the card start */
.left-side {
  height: 100%;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: repeat(6, 1fr);
}

.left-side-links {
  display: grid;
  grid-column: 1/2;
  grid-row: 1/7;
  justify-content: center;
  padding-left: px;
}

ul {
  list-style-type: none;
  display: grid;
  align-items: center;
}

.left-side-arrow {
  display: grid;
  grid-column: 2/3;
  grid-row: 1/7;
  justify-content: center;
  align-items: center;
}

/* left side of th card end */

/* right side of the card start */
.right-side {
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 25px;
}

#team-image {
  width: 300px;
  height: 250px;
}

#practise-area {
  align-self: flex-start;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

#practise-area > img {
  padding-top: 2px;
}

#practise-area > img:hover {
  scale: 1.09;
}

#practise-area:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* right side of the card end */

/* animations */

.links {
  animation: slideInFromTop 0.5s ease-in-out forwards;
}

.links-after {
  animation: slideOutToTop 0.2s ease-in-out forwards;
  background-color: rgb(255, 255, 255);
  height: max-content;
  width: 700px;
  height: 400px;
  display: none;
  flex-direction: row;
  font-family: "Asap", sans-serif;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-5%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 100;
  }
}

@keyframes slideOutToTop {
  0% {
    transform: translateY(0%);
    opacity: 100;
  }
  100% {
    transform: translateY((-5%));
    opacity: 0;
  }
}

ul > li:hover,
.left-side-arrow > img {
  cursor: pointer;
}
